main{
   background-color: #FE8E9C;
}
a {
    text-decoration: none;
    color: #ff9a9c;
    transition: all 0.3s ease;
}
.wrapper{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.inner {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 0 0 50px 0;
    display: flex;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

form {
  width: 65%;
  padding-top: 77px;
  padding-right: 60px;
  padding-left: 15px;
  position: relative;
}

.image-holder {
    width: 50%;
    padding-right: 15px;
}
.image-holder img{
  max-width: 100%;
}


.inner h3 {
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #FE8E9C;
    font-weight: 500;
}

.form-holder {
    padding-left: 24px;
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    border-radius: 23.5px;
    height: 47px;
    padding: 0 24px;
    color: #808080;
    font-size: 13px;
    border: none;
    background: #f7f7f7;
    margin-bottom: 25px;
}
.form-control:focus{
  outline: none;
}
.form-holder.active:before {
    border: 2px solid transparent;
    background: #ff9a9c;
}
.form-holder:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ff9a9c;
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
}

.form-control::placeholder{
  text-transform: uppercase;
  color: #999;
  
}


.checkbox {
    position: relative;
    padding-left: 19px;
    margin-bottom: 37px;
    margin-left: 26px;
}

.checkbox label {
    cursor: pointer;
    color: #999;
    font-size: 16px;
   
}

.checkbox a{display: inline;}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ff9a9c;
    transition: all 0.3s ease;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
}

.checkmark:after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff9a9c;
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}


.form-login {
    display: flex;
    align-items: center;
    margin-left: 23px;
}


.form-login button {
    letter-spacing: 2px;
    border: none;
    width: 133px;
    height: 47px;
    font-weight: 600;
    margin-right: 19px;
    border-radius: 23.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ff9a9c;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.form-login p {
  color: #999;
  font-size: 16px;
  display: inline;
}

.form-login a{display: inline;}


.email-not-found{
    position: absolute;
    top: 0;
    left: 0%;
    background: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: visibility 0.5s;
    -webkit-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -ms-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
}

.email-not-found.active{
    visibility: visible;
}
.error-message {
    color: hsl(0, 100%, 70%);
    font-size: 16px;
    font-weight: 400;
}


@media (max-width :768px) {
  .inner {
    max-width: 100%;
    flex-direction: column-reverse;

}
form {
    width: calc(100% - 60px);
    padding-top: 5px;
    
}

.image-holder {
  width: calc(100% - 15px);
    
}
}

@media (max-width :576px){
  .form-login {
    display: flex;
    align-items: center;;
    flex-direction: column;
}
}