main {
  border: 1px solid #dede;
  width: 1200px;
  margin: 30px auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.shopping-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap:20px;
  padding: 30px; 
  border: 1px solid #dede;
  width: calc(100% - 30px);
  margin: 30px auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
    
}

.product-image-container{
    width: 33.33%;
    max-width: 100%;
}
.product-image-container img{
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}



.product-desc {
  width: 44%;
  text-align: left;
  
}



.price-container{
  width: calc(100% - 77.33%);
  text-align: right;
}



@media (max-width : 768px){

  main {

  max-width:  750px;
 
}

  .shopping-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap:20px;
    padding: 30px; 
    
    
}
}